Source: capi-network-bluetooth
Section: libs
Priority: extra
Maintainer: Kangho Hur <kangho.hur@samsung.com>, ByungWoo Lee <bw1212.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, capi-base-common-dev, libglib2.0-dev, libbluetooth-frwk-dev

Package: capi-network-bluetooth
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: A Network Bluetooth library in Tizen Native API

Package: capi-network-bluetooth-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-bluetooth (= ${Source-Version}), dlog-dev, capi-base-common-dev, libglib2.0-dev, libbluetooth-frwk-dev
Description: A Network Bluetooth library in Tizen Native API (DEV)

Package: capi-network-bluetooth-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-network-bluetooth (= ${Source-Version})
Description: A Network Bluetooth library in Tizen Native API (DBG)

